USE [master]
GO
/****** Object:  Database [Airlines]    Script Date: 29/05/2018 13:17:40 ******/
CREATE DATABASE [Airlines]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Airlines', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\Airlines.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Airlines_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\Airlines_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Airlines].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Airlines]
GO
USE [Airlines]
GO
/****** Object:  Table [dbo].[airlinecodes]    Script Date: 29/05/2018 13:17:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[airlinecodes](
	[name] [varchar](50) NOT NULL,
	[code] [varchar](5) NOT NULL,
 CONSTRAINT [PK_airlinecodes] PRIMARY KEY CLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[locatie]    Script Date: 29/05/2018 13:17:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[locatie](
	[airlineCode] [varchar](5) NOT NULL,
	[stadHoofkwartier] [varchar](60) NOT NULL,
	[staatHoofkwartier] [varchar](60) NOT NULL,
	[mainHub] [varchar](5) NOT NULL,
	[staatMainHub] [varchar](60) NOT NULL,
 CONSTRAINT [PK_locatie] PRIMARY KEY CLUSTERED 
(
	[airlineCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Opgericht]    Script Date: 29/05/2018 13:17:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Opgericht](
	[airlineCode] [varchar](5) NOT NULL,
	[opgericht] [varchar](4) NOT NULL,
	[gestopt] [varchar](4) NULL,
 CONSTRAINT [PK_Opgericht_1] PRIMARY KEY CLUSTERED 
(
	[airlineCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[locatie]  WITH CHECK ADD  CONSTRAINT [FK_locatie_airlinecodes] FOREIGN KEY([airlineCode])
REFERENCES [dbo].[airlinecodes] ([code])
GO
ALTER TABLE [dbo].[locatie] CHECK CONSTRAINT [FK_locatie_airlinecodes]
GO
ALTER TABLE [dbo].[Opgericht]  WITH CHECK ADD  CONSTRAINT [FK_Opgericht_airlinecodes] FOREIGN KEY([airlineCode])
REFERENCES [dbo].[airlinecodes] ([code])
GO
ALTER TABLE [dbo].[Opgericht] CHECK CONSTRAINT [FK_Opgericht_airlinecodes]
GO
USE [master]
GO
