
@{
    ViewData["Title"] = "Index";
}

<h2>API</h2>

<h2>/api/{AirlineCode}</h2>

<p>Airline code can be</p>
<ul>
    <li>AA</li>
    <li>AS</li>
    <li>B6</li>
    <li>CO</li>
    <li>DL</li>
    <li>EV</li>
    <li>F9</li>
    <li>FL</li>
    <li>HA</li>
    <li>MQ</li>
    <li>OO</li>
    <li>UA</li>
    <li>US</li>
    <li>VX</li>
    <li>WN</li>
    <li>XE</li>
    <li>YV</li>
</ul>

<h3>/api/{YYYY-MM-DD}</h3>

<p>Range of date is 2011-01-01 - 20111-01-03</p>

<h3>/api/{StateName}</h3>

<p>StateName can be:</p>
<ul>
    <li>AL</li>
    <li>MT</li>
    <li>AK</li>
    <li>NE</li>
    <li>AZ</li>
    <li>NV</li>
    <li>AR</li>
    <li>NH</li>
    <li>CA</li>
    <li>NJ</li>
    <li>CO</li>
    <li>NM</li>
    <li>CT</li>
    <li>NY</li>
    <li>DE</li>
    <li>NC</li>
    <li>FL</li>
    <li>ND</li>
    <li>GA</li>
    <li>OH</li>
    <li>HI</li>
    <li>OK</li>
    <li>ID</li>
    <li>OR</li>
    <li>IL</li>
    <li>PA</li>
    <li>IN</li>
    <li>RI</li>
    <li>IA</li>
    <li>SC</li>
    <li>KS</li>
    <li>SD</li>
    <li>KY</li>
    <li>TN</li>
    <li>LA</li>
    <li>TX</li>
    <li>ME</li>
    <li>UT</li>
    <li>MD</li>
    <li>VT</li>
    <li>MA</li>
    <li>VA</li>
    <li>MI</li>
    <li>WA</li>
    <li>MN</li>
    <li>WV</li>
    <li>MS</li>
    <li>WI</li>
    <li>MO</li>
    <li>WY</li>
</ul>