
@{
    ViewData["Title"] = "Index";
}


<h3>api/code/{AirlineCode}</h3>

<p>Airline code can be</p>
<ul>
    <li>AA</li>
    <li>AS</li>
    <li>B6</li>
    <li>CO</li>
    <li>DL</li>
    <li>EV</li>
    <li>F9</li>
    <li>FL</li>
    <li>HA</li>
    <li>MQ</li>
    <li>OO</li>
    <li>UA</li>
    <li>US</li>
    <li>VX</li>
    <li>WN</li>
    <li>XE</li>
    <li>YV</li>
</ul>

<p>Example:</p>
<p>api/code/DL</p>
<a href="/api/code/DL" class="btn btn-info">Give it a try</a>

<h3 style="margin-top:10%">api/date/{YYYY-MM-DD}</h3>

<p>Range of date is between 2011-01-01 and 2011-01-03.</p>
<p>That is currently the only data that available is.</p>
<p>It's also limited to the Airline company AS.</p>
<p>If you enter all as {YYYY-MM-DD} it will give all the dates back.</p>

<p>Example:</p>
<p>/api/date/2011-01-02</p>
<a href="/api/date/2011-01-02" class="btn btn-info">Give it a try</a>

<h3 style="margin-top:10%">api/DS/{DepartureStateName}</h3>
<h3>Or</h3>
<h3>api/AS/{ArrivalStateName}</h3>

<p>Departure State Name or Arrival State Name can be: (currently only data available of AS)</p>
<ul>
    <li>AL</li>
    <li>MT</li>
    <li>AK</li>
    <li>NE</li>
    <li>AZ</li>
    <li>NV</li>
    <li>AR</li>
    <li>NH</li>
    <li>CA</li>
    <li>NJ</li>
    <li>CO</li>
    <li>NM</li>
    <li>CT</li>
    <li>NY</li>
    <li>DE</li>
    <li>NC</li>
    <li>FL</li>
    <li>ND</li>
    <li>GA</li>
    <li>OH</li>
    <li>HI</li>
    <li>OK</li>
    <li>ID</li>
    <li>OR</li>
    <li>IL</li>
    <li>PA</li>
    <li>IN</li>
    <li>RI</li>
    <li>IA</li>
    <li>SC</li>
    <li>KS</li>
    <li>SD</li>
    <li>KY</li>
    <li>TN</li>
    <li>LA</li>
    <li>TX</li>
    <li>ME</li>
    <li>UT</li>
    <li>MD</li>
    <li>VT</li>
    <li>MA</li>
    <li>VA</li>
    <li>MI</li>
    <li>WA</li>
    <li>MN</li>
    <li>WV</li>
    <li>MS</li>
    <li>WI</li>
    <li>MO</li>
    <li>WY</li>
</ul>


<p>Example:</p>
<p>api/DS/AL</p>
<a href="/api/DS/AL" class="btn btn-info">Give it a try</a>

<p>Example:</p>
<p>api/AS/AL</p>
<a href="/api/AS/AL" class="btn btn-info">Give it a try</a>